* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%
}
.wrapper-podcast {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  height: 100vh;
  background: rgba(205, 133, 63, 0.2);
}
.btn.control {
  font-size: 0;
  text-align: center;
}
.btn.control div {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.org-section-bloque-podcast {
  margin: auto;
  width: 100%;
  max-width: 400px;
  margin: auto;
  font-size: 0;
  box-shadow: 4px 3px 12px 0 #bbb;
  background: #FFF;
}
.podcast__figure {
  width: 102px;
}
.podcast__content {
  width: calc(100% - 102px);
  padding-left: 1rem;
}
.podcast__figure,
.podcast__content {
  display: inline-block;
  vertical-align: middle;
}

.btn.control div {
  margin: 0 0.7rem;
}
.btn.control div i {
  color: #D70B0D;
}
.fa {
  font-size: 1.5rem;
}
.btn.control #play {
  width: 3em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  color: #FFF;
  border: none;
  border-radius: 100px;
  /*background: #D70B0D;*/
  position: relative;
  background-image: linear-gradient(to right, #ed0607 , #c51215);
}
.btn.control #play i.fa.fa-play:before {
  font-size: 2.4rem;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
button:focus {
  outline:0;
}
.btn.control div i.fa.fa-backward,
.btn.control div i.fa.fa-forward {
  font-size: 2rem;
}
.btn.control div i.fa.fa-undo {
  transform: rotateY(180deg);
}
.seekbarControl .outer {
  /*border-radius: 5px;*/
  height: 4px;
  width: 100%;
  display: block;
  background: #DBDBDB;
  overflow: hidden;
  position: relative;
}
.seekbarControl .outer .inner {
  background: #D70B0D;
  height: 100%;
  display: inline-block;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.seekbarControl .outer:hover {
  cursor: pointer;
}
.volumeControl .wrapper .fa.fa-volume-up {
  margin-right: 5px;
  color: #D70B0D;
}
.volumeControl .wrapper .fa.fa-volume-up,
.volumeControl .wrapper .outer {
  display: inline-block;
  vertical-align: middle;
}
.volumeControl {
  /*width: 100px;*/
}
.volumeControl .wrapper .outer {
  border-radius: 5px;
  border: 1px inset gray;
  height: 5px;
  width: 10%;
  display: inline-block;
  background: #BCBCBC;
  position: relative;
}
.volumeControl .wrapper .outer .inner {
  background: #484848;
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.volumeControl .wrapper .outer:hover {
  cursor: pointer;
}
