* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%
}
.wrapper-podcast {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  height: 100vh;
  background: rgba(205, 133, 63, 0.2);
}
@media (max-width: 678px) {
  .wrapper-podcast {
    padding: 0 1rem;
  }
}
.btn.control {
  font-size: 0;
  text-align: center;
}
.btn.control div {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.org-section-bloque-podcast {
  margin: auto;
  width: 100%;
  max-width: 400px;
  margin: auto;
  font-size: 0;
  box-shadow: 4px 3px 12px 0 #bbb;
  background: #FFF;
}
.podcast__figure {
  width: 102px;
}
.podcast__figure img {
  width: 100%;
}
.podcast__content {
  width: calc(100% - 102px);
  padding-left: 1rem;
}
.podcast__figure,
.podcast__content {
  display: inline-block;
  vertical-align: middle;
}
.time {
  font-size: 1.2rem;
  line-height: 1em;
  color: #8a8a8a;
  font-family: 'Roboto', sans-serif;
}
.time #start {
  margin-right: 7px;
  position: relative;
}
.time #start:after {
  content: "/";
  position: absolute;
  right: -5.5px;
  top: 1px;
  font-size: 1rem;
  color: #8a8a8a;
}
.btn.control div {
  margin: 0 0.7rem;
}
.btn.control div i {
  color: #D70B0D;
}
.fa {
  font-size: 1.5rem;
}
.btn.control #play {
  width: 3em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  color: #FFF;
  border: none;
  border-radius: 100px;
  background-color: #D70B0D;
  position: relative;
  cursor: pointer;
  /*background-image: linear-gradient(to right, #ed0607 , #c51215);*/
}
.btn.control #play.icon-play {
  background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0" encoding="utf-8"%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40 40" style="enable-background:new 0 0 40 40;" xml:space="preserve"%3E%3Cstyle type="text/css"%3E .st0%7Bfill:%23FFFFFF;%7D .st1%7Bfill:%23FFFFFF;stroke:%23FFFFFF;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg%3E%3Cg id="XMLID_1_"%3E%3Cpolygon class="st0" points="12.5,9.8 32.5,20.2 12.5,30.7 "/%3E%3Cpath class="st0" d="M13,10.6l18.4,9.6L13,29.9V10.6 M12,9v22.5l21.6-11.3L12,9L12,9z"/%3E%3C/g%3E%3C/g%3E%3Cline class="st1" x1="-62.5" y1="-25.5" x2="-67.5" y2="-16.5"/%3E%3Ccircle class="st1" cx="78" cy="58" r="20.5"/%3E%3Ccircle class="st1" cx="47" cy="3" r="0.5"/%3E%3C/svg%3E');
}
.btn.control #play.icon-pause {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 21.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 40 40' style='enable-background:new 0 0 40 40;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23FFFFFF;%7D .st1%7Bfill:%23FFFFFF;stroke:%23FFFFFF;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg%3E%3Cg id='XMLID_1_'%3E%3Cpolygon class='st0' points='-55.5,9.8 -35.5,20.2 -55.5,30.7 '/%3E%3Cpath class='st0' d='M-55,10.6l18.4,9.6L-55,29.9V10.6 M-56,9v22.5l21.6-11.3L-56,9L-56,9z'/%3E%3C/g%3E%3C/g%3E%3Cpath class='st1' d='M-130.5-25.5'/%3E%3Cpath class='st1' d='M-143.5,34.5'/%3E%3Crect x='10.5' y='9' class='st0' width='6' height='22'/%3E%3Crect x='23.5' y='9' class='st0' width='6' height='22'/%3E%3C/svg%3E%0A");
}
button:focus {
  outline:0;
}
.btn.control div i.fa.fa-backward,
.btn.control div i.fa.fa-forward {
  font-size: 2rem;
}
.btn.control div i.fa.fa-undo {
  transform: rotateY(180deg);
}
.seekbarControl .outer {
  /*border-radius: 5px;*/
  height: 4px;
  width: 100%;
  display: block;
  background: #DBDBDB;
  overflow: hidden;
  position: relative;
}
.seekbarControl .outer .inner {
  background: #D70B0D;
  height: 100%;
  display: inline-block;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.seekbarControl .outer:hover {
  cursor: pointer;
}
.volumeControl .wrapper .fa.fa-volume-off,
.volumeControl .wrapper .fa.fa-volume-up {
  width: 13px;
  margin-right: 5px;
  color: #D70B0D;
}
.volumeControl .wrapper {
  font-size: 0;
}
.volumeControl .wrapper .fa.fa-volume-off,
.volumeControl .wrapper .fa.fa-volume-up,
.volumeControl #volume {
  display: inline-block;
  vertical-align: middle;
}
.volumeControl {
  /*width: 100px;*/
}

/* Base CSS styles - Several styles need to be applied to range inputs in all browsers to override their basic appearance. */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 20%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent; /* Hides the slider so custom styles can be added */ 
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: -2.5px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */  
  border: 1px solid #D70B0D;
  height: 8px;
  width: 8px;
  border-radius: 100px;
  background: #D70B0D;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  border: 1px solid #D70B0D;
  height: 8px;
  width: 8px;
  border-radius: 100px;
  background: #D70B0D;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  border: 1px solid #D70B0D;
  height: 8px;
  width: 8px;
  border-radius: 100px;
  background: #D70B0D;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 20%;
  height: 4px;
  cursor: pointer;
  background: #c8c8c8;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #c8c8c8;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  cursor: pointer;
  background: #c8c8c8;
  border-color: #c8c8c8;
  border-width: 1px 0;
  color: #c8c8c8;
}






/*input[type=range]::-moz-range-track,
input[type=range]::-ms-track,
input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: #ddd;
  border: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height:56px;
  width: 56px;
  border-radius: 50%;
  background: #D70B0D;
  margin-top: -5px;
  position: relative;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
*/


/*input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 30%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ac51b5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}*/