* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%
}
.wrapper-podcast {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  width: 100%;
  height: 100vh;
  background: rgba(205, 133, 63, 0.2);
}
.btn.control {
  font-size: 0;
  text-align: center;
}
.btn.control div {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}
.org-section-bloque-podcast {
  margin: auto;
  width: 100%;
  max-width: 400px;
  margin: auto;
  font-size: 0;
  box-shadow: 4px 3px 12px 0 #bbb;
  background: #FFF;
}
.podcast__figure {
  width: 102px;
}
.podcast__content {
  width: calc(100% - 102px);
  padding-left: 1rem;
}
.podcast__figure,
.podcast__content {
  display: inline-block;
  vertical-align: middle;
}
.time {
  font-size: 1.2rem;
  line-height: 1em;
  color: #8a8a8a;
  font-family: 'Roboto', sans-serif;
}
.time #start {
  margin-right: 7px;
  position: relative;
}
.time #start:after {
  content: "/";
  position: absolute;
  right: -5.5px;
  top: 1px;
  font-size: 1rem;
  color: #8a8a8a;
}
.btn.control div {
  margin: 0 0.7rem;
}
.btn.control div i {
  color: #D70B0D;
}
.fa {
  font-size: 1.5rem;
}
.btn.control #play {
  width: 3em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  color: #FFF;
  border: none;
  border-radius: 100px;
  /*background: #D70B0D;*/
  position: relative;
  background-image: linear-gradient(to right, #ed0607 , #c51215);
  cursor: pointer;
}
.btn.control #play i.fa.fa-play:before {
  font-size: 2.4rem;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
button:focus {
  outline:0;
}
.btn.control div i.fa.fa-backward,
.btn.control div i.fa.fa-forward {
  font-size: 2rem;
}
.btn.control div i.fa.fa-undo {
  transform: rotateY(180deg);
}
.seekbarControl .outer {
  /*border-radius: 5px;*/
  height: 4px;
  width: 100%;
  display: block;
  background: #DBDBDB;
  overflow: hidden;
  position: relative;
}
.seekbarControl .outer .inner {
  background: #D70B0D;
  height: 100%;
  display: inline-block;
  width: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.seekbarControl .outer:hover {
  cursor: pointer;
}
.volumeControl .wrapper .fa.fa-volume-off,
.volumeControl .wrapper .fa.fa-volume-up {
  width: 13px;
  margin-right: 5px;
  color: #D70B0D;
}
.volumeControl .wrapper {
  font-size: 0;
}
.volumeControl .wrapper .fa.fa-volume-off,
.volumeControl .wrapper .fa.fa-volume-up,
.volumeControl #volume {
  display: inline-block;
  vertical-align: middle;
}
.volumeControl {
  /*width: 100px;*/
}
/*input[type=range]::-moz-range-track,
input[type=range]::-ms-track,
input[type=range]::-webkit-slider-runnable-track {
  height: 3px;
  background: #ddd;
  border: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height:56px;
  width: 56px;
  border-radius: 50%;
  background: #D70B0D;
  margin-top: -5px;
  position: relative;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
*/


/*input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 30%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3.6px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ac51b5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #ac51b5;
  border-radius: 25px;
  border: 0px solid #000101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 12.8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ac51b5;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 20px;
  width: 39px;
  border-radius: 7px;
  background: #65001c;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ac51b5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ac51b5;
}*/